<div id="map" style="width:70%;height:600px">My precious map</div>

<script src="~/Scripts/map-scripts/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC88vtPNdfd1cjSxJSNr7rKlAD7XlgKP3c&callback=myMap"
        type="text/javascript"></script>